@font-face {
  font-family: "Roboto Flex";
  src: url('fonts/RobotoFlex[GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght].ttf')
    format("truetype-variations");
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-text {
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
}

.letter {
  display: inline-block;
  font-family: "Roboto Flex";
  mix-blend-mode: difference;
  color: rgb(255, 255, 255);
}
